/* [project]/apps/BreakingMedia/src/app/articles/style.css [app-client] (css) */
#post-container {
  max-width: 1200px;
  margin: 0 auto;
}

section#post-wrapper {
  width: 100%;
  padding: 2rem 2rem 40px;
}

h1 {
  font-size: 2rem;
  line-height: 1.1em;
  font-weight: 600;
}

img.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.article-content {
  padding: .5rem 1.25rem 1.25rem;
  max-height: 500px;
}

.article-content p {
  font-size: 1rem;
  color: var(--color-excerpt);
  font-weight: 400;
  letter-spacing: .005em;
}

.article-content h2 {
  font-size: 1.25rem;
  margin: 0 0 1rem;
}

main.post-section {
  flex: 1;
  margin: 0 auto;
  padding-bottom: 2em;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: start;
  justify-items: start;
}

.post-category {
  font-size: 12px;
  color: var(--color-category);
  text-transform: uppercase;
  letter-spacing: .075em;
}

.section-divider {
  margin: 32px 0;
}

.section-divider-line {
  height: 1px;
  background-color: #1a1a1a;
  width: 100%;
  margin: 0 0 -1px;
}

.post-excerpt {
  line-height: 1.4em;
}

.author {
  font-size: 12px;
  color: var(--color-category);
  text-transform: uppercase;
  font-weight: 600;
  font-family: Poppins, serif;
}

.section-category-title {
  background-color: #1a1a1a;
  color: #fff;
  font-size: .75rem;
  padding: 6px 8px;
  letter-spacing: .03rem;
  font-family: BreakingMediaAiFont, Arial, sans-serif;
  text-transform: uppercase;
}

article.post {
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  transition: transform .3s;
  max-width: 360px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

article.post h2 {
  font-weight: 600;
  font-family: Oswald, sans-serif;
  line-height: 1.1em;
  letter-spacing: -.02em;
  margin-top: 12px;
}

h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

#post-content p {
  margin-bottom: 1em;
}

@media (width <= 768px) {
  #post-container {
    padding: 1rem;
  }

  section#post-wrapper {
    padding: 1rem;
  }

  img.article-image {
    height: auto;
  }

  main.post-section {
    grid-template-columns: 1fr;
  }

  article.post {
    max-width: 100%;
  }

  article.post h2 {
    margin-top: 4px;
  }

  .section-category-title {
    text-align: center;
  }

  .article-content {
    margin-top: 8px;
  }

  .article-content h2 {
    font-size: 2rem;
    margin-top: 0;
  }

  .article-content p {
    font-size: .9rem;
  }

  .article-content .author {
    margin-top: 12px;
    display: block;
    letter-spacing: .04em;
  }
}


/* [next]/internal/font/google/oswald_a742b4a1.module.css [app-client] (css) */
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlbHYjMdZwlou4-s.b4deb452.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlSHYjMdZwlou4-s.0b951f64.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlZHYjMdZwlou4-s.a4584a0c.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlYHYjMdZwlou4-s.17eb69e5.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlWHYjMdZwl-s.p.9945c809.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlbHYjMdZwlou4-s.b4deb452.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlSHYjMdZwlou4-s.0b951f64.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlZHYjMdZwlou4-s.a4584a0c.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlYHYjMdZwlou4-s.17eb69e5.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlWHYjMdZwl-s.p.9945c809.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Oswald Fallback;
  src: local(Arial);
  ascent-override: 146.51%;
  descent-override: 35.49%;
  line-gap-override: 0.0%;
  size-adjust: 81.43%;
}

.oswald_a742b4a1-module__7_RRLW__className {
  font-family: Oswald, Oswald Fallback;
  font-style: normal;
}


/* [project]/apps/BreakingMedia/src/app/components/featuredPost/featuredStyles.css [app-client] (css) */
article#featured-article {
  width: 100%;
  border: none;
}

article#featured-article h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: Oswald, sans-serif;
  line-height: 1.1em;
  letter-spacing: -.02em;
}

article#featured-article img {
  width: 100%;
  object-fit: cover;
  height: 400px;
  object-position: center;
}

#featured-article--content {
  display: block;
  max-height: initial;
}

#featured-article--content .image-section {
  flex: 4;
  margin-bottom: 24px;
}

article#featured-article {
  display: flex;
  flex-direction: column;
}

article#featured-article img {
  height: auto;
}

article#featured-article .article-content {
  padding: 0 1rem 1rem;
}

@media (width >= 769px) {
  #featured-article--content {
    max-height: 400px;
    display: flex;
    flex-direction: row;
  }
}

@media (width <= 768px) {
  article#featured-article .article-content {
    padding: 0;
  }

  #featured-article--content .image-section {
    margin-bottom: 0;
  }

  #featured-article--content .post-category {
    display: block;
    margin: 16px 0 8px;
  }
}


/*# sourceMappingURL=%5Broot%20of%20the%20server%5D__b97e56._.css.map*/
