@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'BreakingMediaAiFont';
  src: url('/fonts/breakingmedia.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #1a1a1a; /* Category default */
  --color-secondary: #555; /* Excerpt default */
  --color-category: #1a1a1a; /* Category text color */
  --color-excerpt: #555; /* Excerpt text color */
  --color-border: #ddd; /* Border color */
   --color-highlight: #CD2C02;
}




.light {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #1a1a1a; /* Category default */
  --color-secondary: #555; /* Excerpt default */
  --color-category: #1a1a1a; /* Category text color */
  --color-excerpt: #555; /* Excerpt text color */
  --color-border: #ddd; /* Border color */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
