article#featured-article {
    width: 100%;
    border: none;
}

article#featured-article h2 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    line-height: 1.1em;
    letter-spacing: -0.02em;
}

article#featured-article img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    object-position: center;
}

#featured-article--content {
    display: block;
    max-height: initial;
}

article#featured-article {
    display: flex;
    flex-direction: column;
}

article#featured-article img {
    height: auto;
}

article#featured-article .article-content {
    padding: 0 1rem 1rem;
}

@media (min-width: 769px) {
    #featured-article--content {
        max-height: 400px;
        display: flex;
        flex-direction: row;
    }
}
